<%@ taglib uri="/WEB-INF/icargo-common.tld" prefix="common" %>
<html>
    <head>
        <jsp:include page="/jsp/includes/app/appheader.jsp" />
        <title>Attach File</title>
        <script>
            var fromScreen = '<%=request.getParameter("fromScreen")%>'
            var screenAction = "mail.mra.defaults.ux.attachfile.defaultscreenload.do";
            var isPopup = '<%=request.getParameter("isPopup")%>';

            var batchID = '<%=request.getParameter("batchID")%>';
            var paCode = '<%=request.getParameter("paCode")%>';
            var batchDate = '<%=request.getParameter("batchDate")%>';
            function getScreenConfig() {
                var newobj = window.__extends({}, screenCfg, {
                   __rehydrate: false,
                    fromScreen: fromScreen,
                    screenAction: screenAction,
                    isPopup: isPopup
                });
                console.log('newObj', newobj);
                return newobj
            }
        </script>
        <common:include type="css" src="/css/app/app.css" />
        {{#each htmlWebpackPlugin.files.css}}
            <common:include type="css" src='{{csshelper this}}' /> 
        {{/each}}
    </head>

    <body>
        <!-- The DIV container for redering results from react -->
        <div id="container" class="main-container "></div>
        <jsp:include page="/jsp/includes/app/appfooter.jsp" /> 
        {{#each htmlWebpackPlugin.files.js}}
            <common:include type="script" src="{{jshelper this}}" /> 
        {{/each}}
        <jsp:include page="/jsp/includes/app/pagescripts.jsp" />
        <script>
            if (fromScreen === 'AdvancePayment') {
                appBridge.renderApp(function () {
                    appBridge.dispatchAction({
                        type: 'FILTER_FRM_ADVPAY',
                        data: {
                            'batchID': batchID, 'paCode': paCode,
                            'batchDate': batchDate
                        }
                    })
                });
            }
            else{
            appBridge.renderApp();
            }
        </script>
    </body>
</html>