body {
    display: flex;
    height: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.section-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1rem 0;
    > form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;        
        > .card{
            flex-grow: 1
        }
    }
}

// .footer-panel {
//     position: static;
//     margin: 0 -1rem;
//     width: auto;
// }


.flex-grow-0 {
    flex-grow: 0
}

.flex-grow-1 {
    flex-grow: 1
}

//layout - header extra data
.header-extra-data-panel {
    padding: $sm;
    line-height: 1;
    min-width: 200px;
    .header-extra-data-detail {
        margin-bottom: $sm;
        .form-control-label {
            display: inline-block;
            margin: 0 $xs 0 0;
        }
        .form-control-data {
            display: inline-block
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}


.mailbag-details-list {
    .paginator__wrap {
        min-width: auto;
        max-width: none;
        width: auto;
        .pagination{
            max-width: none;
        }
    }
}

.ReactVirtualized__Table .ReactVirtualized__Table__headerColumn:last-child {
    padding-left: 1rem;
}

.table-header__icons .ico-updown-dark.ico-updown-dark-down {
    display: none
}

.cell .dropdown .dropdown-toggle{
    border: 0;
    padding: 0 4px !important;
    height: auto;
    background: transparent;
}
.cell .dropdown .dropdown-toggle:focus,
.cell .dropdown .dropdown-toggle:active,
.cell .dropdown .dropdown-toggle:active:focus{
    box-shadow: none;
    background: transparent;
}
.cell .dropdown .dropdown-toggle i{
    margin: 0;
    vertical-align: middle;
}
.modal_990px{
	max-width:990px;
	.modal-body{
		max-height: 448px;
		overflow-y: auto;
	}
}
.popover-body .btn {
    font-size: 14px;
    padding: 0 0.625rem;
    height: 2rem;
}
.width24{
    width: 24px;
}
.width16{
    width: 16px;
}
#addmailbagstable-headerholder > .reset_header_icons{
  width: auto !important;
  .card-header{
    border: 0;
  }
}
.card-header,
.tab {
  
    .icon {
        vertical-align: middle;
    }
}
.tab {
    border-bottom: 1px solid #ddd;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .btn-group {
        .btnbar {
            font-size: 16px;
            font-weight: normal;
            padding: 1rem;
            line-height: 1;
        }
    }
    &.tab-sm {
        .btn-group {
            .btnbar {
                font-size: 12px;
                padding: 13px 12px;
            }
        }
    }
    &.tab-icon {
        border: 0;
        .btn-group {
            .btnbar {
                padding: 12px;
                min-width: auto;
                i {
                    margin: 0;
                }
            }
        }
    }


}

img.data-uri-example{
    width:100%;
    padding:20px;
    border:2px solid;
}
.modal-dialog.imagePreview.modal_50w{
.modal-body{
   padding: 0;
    width: 100%;
}
.ImageViewPanel{
.modal-footer{
    display:none;
}
}
}
.bottomLeftGrid
{
    border-right: none!important;
}
.custom-mandatory-label::after
{
content: "*";
    display: inline-block;
    color: red;
    margin-left: 5px;
  font-size: 1.25em;
    line-height: 0;
}