body {
  display: flex;
  height: 0px;
}
#container {
  display: flex;
  flex-direction: column;
}
.header-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.section-panel {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: $md;
}
.footer-panel {
  position: static;
  margin: 0 -1rem;
  width: auto;
}
.inner-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.table th,
.table td {
  padding: 0.5rem;
}
.exe-failed {
  background: #ffe9e9 !important;
}
.drop-down-button{
  button{
    padding: 0;
    margin: 0;
    border: none;
  }
}
.ico-print {
  background-position: -254px -21px;
  width: 16px;
  height: 16px; }
