<%@ taglib uri="/WEB-INF/icargo-common.tld" prefix="common" %>
<html>
    <head>
        <jsp:include page="/jsp/includes/app/appheader.jsp" />
        <title>GPA Billing Enquiry</title>
        <script>
            var fromScreen = '<%=request.getParameter("fromScreen")%>'
            var screenAction = "mail.mra.gpabilling.ux.gpabillingenquiry.defaultscreenload.do";

            function getScreenConfig() {
                var newobj = window.__extends({}, screenCfg, {
                    __rehydrate: fromScreen === 'ROUTING' || fromScreen === 'AUTOMCA'  || fromScreen ==='listAccountingEntries' ? true : false,
                    fromScreen: fromScreen,
                    screenAction: screenAction
                });
                console.log('newObj', newobj);
                return newobj
            }
        </script>
        <common:include type="css" src="/css/app/app.css" />
        {{#each htmlWebpackPlugin.files.css}}
            <common:include type="css" src='{{csshelper this}}' /> 
        {{/each}}
    </head>

    <body>
        <!-- The DIV container for redering results from react -->
        <div id="container" class="main-container "></div>
        <jsp:include page="/jsp/includes/app/appfooter.jsp" /> 
        {{#each htmlWebpackPlugin.files.js}}
            <common:include type="script" src="{{jshelper this}}" /> 
        {{/each}}
        <jsp:include page="/jsp/includes/app/pagescripts.jsp" />
        <script>
            appBridge.renderApp();
        </script>
    </body>
</html>