<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

		
	<beans:bean id="mailAwbBookingPopupResourceBundle" class="com.ibsplc.icargo.framework.web.spring.resource.ICargoResourceBundle">
        <beans:property name="basenames">
            <beans:list>
                <beans:value>classpath:resources/addons/mail/operations/MailAwbBooking</beans:value>
                 <beans:value>classpath:resources/Common</beans:value>
				<beans:value>classpath:resources/CustomTag</beans:value>
            </beans:list>
        </beans:property>
        <beans:property name="defaultEncoding" value="UTF-8"/>
    </beans:bean>

	<beans:bean id="carditEnquiryResourceBundles" class="com.ibsplc.icargo.framework.web.spring.resource.ICargoResourceBundle">
        <beans:property name="basenames">
            <beans:list>
                <beans:value>classpath:resources/addons/mail/operations/CarditEnquryAddon</beans:value>
                 <beans:value>classpath:resources/Common</beans:value>
				<beans:value>classpath:resources/CustomTag</beans:value>
            </beans:list>
        </beans:property>
        <beans:property name="defaultEncoding" value="UTF-8"/>
    </beans:bean>
	
	<beans:bean id="listFlightResourceBundle" class="com.ibsplc.icargo.framework.web.spring.resource.ICargoResourceBundle">
        <beans:property name="basenames">
            <beans:list>
                <beans:value>classpath:resources/addons/mail/operations/ListFlight</beans:value>
                 <beans:value>classpath:resources/Common</beans:value>
				<beans:value>classpath:resources/CustomTag</beans:value>
            </beans:list>
        </beans:property>
        <beans:property name="defaultEncoding" value="UTF-8"/>
    </beans:bean>
	

	</beans:beans>