<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.jdbc.batch_versioned_data">false</property>
		<property name="hibernate.jdbc.use_streams_for_binary">true</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:mymemdb</property>
		<property name="hibernate.connection.username">SA</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">10</property>

		<!--  Comment this for standalone operations-->
		<!--property name="transaction.factory_class">org.hibernate.engine.transaction.internal.jta.JtaTransactionFactory</property-->

		<!--  Weblogic 	: org.hibernate.service.jta.platform.internal.WeblogicJtaPlatform
			  Websphere : org.hibernate.service.jta.platform.internal.WebSphereExtendedJtaPlatform
			  Jboss		: org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform
			  see com.ibsplc.xibase.server.framework.persistence.hibernate.HibernateSessionFactoryProvider
		-->
		<!--property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.WeblogicJtaPlatform</property-->
	</session-factory>
</hibernate-configuration>
