/** Login Configuration for the JAAS Sample Application **/
/**com.ibsplc.xibase.server.jobscheduler.security.login.JobSchedulerLoginModule required debug=true;**/
JobScheduler {
  weblogic.security.auth.login.UsernamePasswordLoginModule required debug=true;
};
AppClient {
  weblogic.security.auth.login.UsernamePasswordLoginModule required debug=true;
};
HHTClient {
  weblogic.security.auth.login.UsernamePasswordLoginModule required debug=true;
};
