button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
font-weight :500
}
nav-header > ul > li > a {
    font-size: 14px;
}
@media screen and (min-width: 768px) {
  .hkb-article .hkb-article__title {
    font-size: 22px;
		}
}
hkb-article__content {
  font-size: 13px;
}
hkb-article__content h4 {
  font-size: 16px;
}
.hkb-article__content p strong {
    font-size: 14px;
  }
.hkb-article__content p,
.hkb-article__content a {
  font-size: 13px;
}
.hkb-article__content table th {
  font-weight: 500;
}
.hkb-article__content table thead th {
  font-size: 14px;
}
.hkb-articlemini .hkb-article__title {
  margin: 0;
  font-size: 16px;
}
hkb-articlemini .hkb-article__excerpt {
  margin: 8px 0 0;
  font-size: 13px;
}
.widget {
  font-size: 13px;
}
.widget .widget__title {
  font-size: 20px;
  font-weight: 500;
}
hkb_widget_toc .widget__title {
  font-size: 14px;
}
.hkb-article-related li{
		font-size:13px;
}
.hkb-widget__entry-title{
		color:#252525;
}
.hkb_widget_exit .hkb_widget_exit__btn {
  font-size: 14px;
  font-weight: 500;
}
.hkb-category .hkb-category__title {
  font-size: 16px;
}
.ht-commentform .logged-in-as {
  font-size: 13px;
}
.ht-commentform .ht-commentform__author label,
.ht-commentform .ht-commentform__email label,
.ht-commentform .ht-commentform__comment label,
.ht-commentform .ht-commentform__author label {
    font-size: 14px;
}
.ht-post__meta {
  font-size: 13px;
}
.ht-post .ht-post__title {
  font-size: 22px;
}
.ht-post__content p {;
  font-size: 13px;
}
.wp-block-hb-tabs
  .wp-block-hb-tabs__nav
  li[data-hb-tabs-tab--state="active"]
  span {
  font-weight: 500;
  font-size: 14px;
}
.wp-block-hb-tabs
  .wp-block-hb-tabs__nav
  li[data-hb-tabs-tab--state="inactive"]:hover {
  cursor: pointer;
  font-size: 14px;
}
.wp-block-hb-toggle .wp-block-hb-toggle__title {
  font-size: 14px;
  font-weight: 500;
}
.wp-block-hb-accordion .wp-block-hb-accordion__title {
  font-size: 14px;
  font-weight: 500;
}
body,
input,
optgroup,
select,
textarea {
  font-size: 14px !important;
}
.wp-block-hb-tabs__nav li{
  font-size: 14px;
}
.hkb-article__content h2 {
    font-size: 23px;
		font-weight:500  !important;
}
.hkb-article__content p, .hkb-article__content a {
    font-size: 14px;
}
body, input, optgroup, select, textarea{
		color:#252525;
}
b,strong{
		font-weight:500 !important;
}
.hkb-article .hkb-article__title {
    font-size: 38px  !important;
    font-weight: 700  !important;
    color: #004164;
}


/* Mini  */
.hkb-articlemini .hkb-article__title{
		color:#00b4b3;
}
.ht-articlelist li{
		margin: 0;
    padding: 0;
	border-bottom:none;
		 	background:#f8fdfd; 
		width:50%;
		float:left;
		position:relative;
/* 		border-bottom: 1px solid #e6e6e6; */
}
.ht-articlelist {
		overflow:hidden;
}
.ht-articlelist li.parent:after{
	display:none;	
}
.ht-articlelist li:after{
		content: "";
    position: absolute;
    background: #f8fdfd;
    width: 100%;
    left: 100%;
    height: 100%;
		top:0;
}
.ht-articlelist li.parent{
		border-bottom: 1px solid #e6e6e6;
		padding: 10px 0 10px;
		background:none;
		width:100%;
		float:left;
}
.ht-articlelist li
.hkb-articlemini .sub-article-header{
	margin:2px 0;	
		padding: 4px 0 4px;
	font-size:13px;
		font-weight:normal;
		border-bottom:1px dashed #CCC;
		white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hkb-articlemini{
		padding-left:20px;
}
/* Mini  */
.accordion-icon__theme1 .wp-block-hb-accordion__section:first-child,.toggle-icon__theme1.wp-block-hb-toggle .wp-block-hb-toggle__title{
		border-top:1px solid #e6e8eb;
}
.accordion-icon__theme1 .wp-block-hb-accordion__title,.toggle-icon__theme1.wp-block-hb-toggle .wp-block-hb-toggle__title{
		background: #FFF;
}
.accordion-icon__theme1 .wp-block-hb-accordion__content,.toggle-icon__theme1.wp-block-hb-toggle .wp-block-hb-toggle__content .wp-block-hb-toggle__contentwrap{
		background: #e9f0ff;
		
}

.accordion-icon__theme1 .wp-block-hb-accordion__contentwrap,.toggle-icon__theme1.wp-block-hb-toggle .wp-block-hb-toggle__content .wp-block-hb-toggle__contentwrap{
		padding:1em 1em 1em calc(1em + 20px) !important;
}

.accordion-icon__theme1 .wp-block-hb-accordion__title:before,.toggle-icon__theme1.wp-block-hb-toggle .wp-block-hb-toggle__title::before{
		background-image:none !important;
		content:"\0002c5";
		left: inherit;
    right: 15px;
    color: blue;
    font-weight: bolder;
    font-size: 20px;
}
.accordion-icon__theme1 .wp-block-hb-accordion__section.wp-block-hb-accordion__section--active .wp-block-hb-accordion__title:before,.toggle-icon__theme1.wp-block-hb-toggle.wp-block-hb-toggle--active .wp-block-hb-toggle__title::before{
		background-image:none !important;
		content:"\0002c4";
		
}
.inline_img img{
		display:inline-block !important;
    vertical-align: middle;
}
.hkb-article__content ol li, .hkb-article__content .block-library-list ol li {
    font-size: 13px;
}
.hkb-article__content figure figcaption {
		font-size: 12px;
}
.hkb-category__headerlink{
		flex: 0 0 100%;
}
.hkb-category__ul,.hkb-category__link{
		flex: 0 0 100%;
}
.hkb-category__ul{
		margin-top:15px;
		margin-bottom:30px;
		list-style: none;
		padding:0
}
.hkb-category__ul a{
		text-decoration:none;
		color:#646464;
		font-size:14px;
		margin:10px 0;
		display:block;
}
.hkb-category__link--nopad{
		padding:0 0 15px 0 !important
}
.hkb-category.hkb-category--style7{
		flex-wrap:wrap;
}
.hkb-category-custom-height{
		height:auto !important;
}
.hkb-category .hkb-category__viewall{
		display:block;
		color: #06808d;
}
.site-header__banner{
		background: rgb(37, 51, 66);
    background: linear-gradient(90deg, rgb(37, 51, 66) 0%, rgb(31, 85, 124) 100%);
		padding:10px 0 !important;
}

.hkb-article__content {
    position: relative;
    margin: 0 0 44px;
}
.sub-article-header{
		padding-left: 10px
}
.hkb-article-tags {
display: none;
}
a {
    color: #06808d;
}
a:hover, .hkb-category .hkb-category__articlelist a:hover{
		color:#096b7e;
}
.hkb_widget_toc ol li.active > a{
		background:none;
		color:#096b7e;
		
}
.hkb_widget_toc ol li > a{
		padding:0;
}
.hkb_widget_toc ol li a:hover {
    background: none;
		 color: #06808d;
}

@media screen and (max-width: 600px){.hkb-breadcrumbs_wrap{display:none}}
@media screen and (max-width: 600px){
		.site-header .site-header__banner{display:none}}



