body {
    display: flex;
    height: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}



.section-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1rem 0;
    > form{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    .table-card {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

.footer-panel {
    position: static;
    margin: 0 -1rem;
    width: auto;
}



// //common styles
.flex-grow-0 {
    flex-grow: 0
}

.flex-grow-1 {
    flex-grow: 1
}

.text-light-grey {
    color: #aaa;
}

.form-control-data {
    color: #333;
}

