<%@ taglib uri="/WEB-INF/icargo-common.tld" prefix="common" %>
<html>
    <head>
        <jsp:include page="/jsp/includes/app/appheader.jsp" />
        <title>Mail Awb Booking</title>
        <script>
             var fromScreen = '<%=request.getParameter("fromScreen")%>'
            var screenAction = "addons.mail.operations.mailawbbooking.defaultscreenload.do";
            var isPopup = '<%=request.getParameter("isPopup")%>';
            var airportCode = '<%=request.getParameter("airportCode")%>';
           
             function getScreenConfig() {
                var newobj = window.__extends({}, screenCfg, {
                    __rehydrate: false,
                    fromScreen: fromScreen,
                    screenAction: screenAction,
                    isPopup: isPopup

                });
                console.log('newObj', newobj);
                return newobj
            }
            var obj = window.parent.getMailbagDetails();
            console.log('object from MTK056', obj);
        </script>
        <common:include type="css" src="/css/app/app.css" />
        {{#each htmlWebpackPlugin.files.css}}
            <common:include type="css" src='{{csshelper this}}' /> 
        {{/each}}
    </head>

    <body>
        <!-- The DIV container for redering results from react -->
        <div id="container" class="main-container"></div>
        <jsp:include page="/jsp/includes/app/appfooter.jsp" />
        {{#each htmlWebpackPlugin.files.js}}
            <common:include type="script" src="{{jshelper this}}" /> 
        {{/each}}
        <jsp:include page="/jsp/includes/app/pagescripts.jsp" />
        <script>
            if (fromScreen === 'mail.operations.carditenquiry') {
                appBridge.renderApp(function () {
                    appBridge.dispatchAction({
                        type: 'FILTER_FROM_CARDIT_ENQUIRY',
                        data: {
                            airportCode: airportCode,
                            carditFilter: obj.carditFilter,
                            selectedMailbags: obj.selectedMailbags
                        }
                    })
                });
            }else{
                appBridge.renderApp();
            }
        </script>
    </body>
</html>