body{
	display:flex;
	height:0px;
}
#container{
	display:flex;
	flex-direction: column;
}
.header-panel{
    display:flex;
	flex-direction: column;
	align-items: stretch;
}
.section-panel{
    flex-grow: 2;
    display: flex;
	flex-direction: column;
    margin-bottom: 16px;
	form{
		flex-grow: 1;
    	display: flex;
		flex-direction: column;
	}
}
.inner-panel{
    flex-grow: 1;
    display: flex;
	flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}
.footer-panel{
    width: auto;
    margin: 0px -16px;
    position: static;
    display: flex;
    justify-content: flex-end;
}
.paginator__wrap{
    justify-content: flex-end;   
}
.first-column {
    justify-content: center;
    display: flex;
    .form-check-input{
        margin: 0 !important;
    }
}
.table-head{
    align-items: center;
    display: flex;
    .form-check-input{
        margin: 0 !important;
    }
    &:first-child{
        justify-content: center;
    }
}