target/
!.mvn/wrapper/maven-wrapper.jar
*.bak

#Mac files
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.gradle/


### Bianries ###
*.jar
**/target/
*.zip
**/bin/

# Python virtual envs
venv/

# Some default excludes
icargo-neo-helm/values-*.yaml
icargo-neo-stubs-runner/src/var
icargo-neo-stubs-runner/src/*.jar

