Stock {{businessId}} updated where

Updated Values :
{{#reorderLevelNew}}
    Reorder Level
        Old Value : {{reorderLevelOld}}
        New Value : {{reorderLevelNew}}
{{/reorderLevelNew}}
{{#reorderQuantityNew}}
    Reorder Quantity
        Old Value : {{reorderQuantityOld}}
        New Value : {{reorderQuantityNew}}
{{/reorderQuantityNew}}
{{#stockApproverCompanyNew}}
    Stock Approver Company
        Old Value : {{stockApproverCompanyOld}}
        New Value : {{stockApproverCompanyNew}}
{{/stockApproverCompanyNew}}
{{#stockApproverCodeNew}}
    Stock Approver Code
        Old Value : {{stockApproverCodeOld}}
        New Value : {{stockApproverCodeNew}}
{{/stockApproverCodeNew}}
{{#reorderAlertFlagNew}}
    Reorder Alert Flag
        Old Value : {{reorderAlertFlagOld}}
        New Value : {{reorderAlertFlagNew}}
{{/reorderAlertFlagNew}}
{{#autoRequestFlagNew}}
    Auto Request Flag
        Old Value : {{autoRequestFlagOld}}
        New Value : {{autoRequestFlagNew}}
{{/autoRequestFlagNew}}
{{#autoPopulateFlagNew}}
    Auto Populate Flag
        Old Value : {{autoPopulateFlagOld}}
        New Value : {{autoPopulateFlagNew}}
{{/autoPopulateFlagNew}}
{{#remarksNew}}
    Remarks
        Old Value : {{remarksOld}}
        New Value : {{remarksNew}}
{{/remarksNew}}