Stock {{businessId}} created where

Created Values :
{{#reorderLevelNew}}
    Reorder Level : {{reorderLevelNew}}
{{/reorderLevelNew}}
{{#reorderQuantityNew}}
    Reorder Quantity : {{reorderQuantityNew}}
{{/reorderQuantityNew}}
{{#stockApproverCompanyNew}}
    Stock Approver Company : {{stockApproverCompanyNew}}
{{/stockApproverCompanyNew}}
{{#stockApproverCodeNew}}
    Stock Approver Code : {{stockApproverCodeNew}}
{{/stockApproverCodeNew}}
{{#reorderAlertFlagNew}}
    Reorder Alert Flag : {{reorderAlertFlagNew}}
{{/reorderAlertFlagNew}}
{{#autoRequestFlagNew}}
    Auto Request Flag : {{autoRequestFlagNew}}
{{/autoRequestFlagNew}}
{{#autoPopulateFlagNew}}
    Auto Populate Flag : {{autoPopulateFlagNew}}
{{/autoPopulateFlagNew}}
{{#remarksNew}}
    Remarks : {{remarksNew}}
{{/remarksNew}}


