Stock Holder {{businessId}} updated where

Updated Values :
{{#stockHolderTypeNew}}
    Stock Holder Type
        Old Value : {{stockHolderTypeOld}}
        New Value : {{stockHolderTypeNew}}
{{/stockHolderTypeNew}}
{{#stockHolderNameNew}}
    Stock Holder Name
        Old Value : {{stockHolderNameOld}}
        New Value : {{stockHolderNameNew}}
{{/stockHolderNameNew}}
{{#descriptionNew}}
    Description
        Old Value : {{descriptionOld}}
        New Value : {{descriptionNew}}
{{/descriptionNew}}
{{#controlPrivilegeNew}}
    Control Privilege
        Old Value : {{controlPrivilegeOld}}
        New Value : {{controlPrivilegeNew}}
{{/controlPrivilegeNew}}
{{#stockHolderContactDetailsNew}}
    Stock Holder Contact Details
        Old Value : {{stockHolderContactDetailsOld}}
        New Value : {{stockHolderContactDetailsNew}}
{{/stockHolderContactDetailsNew}}