Stock Holder {{businessId}} created where

Created Values :
{{#stockHolderTypeNew}}
    Stock Holder Type : {{stockHolderTypeNew}}
{{/stockHolderTypeNew}}
{{#stockHolderNameNew}}
    Stock Holder Name : {{stockHolderNameNew}}
{{/stockHolderNameNew}}
{{#descriptionNew}}
    Description : {{descriptionNew}}
{{/descriptionNew}}
{{#controlPrivilegeNew}}
    Control Privilege : {{controlPrivilegeNew}}
{{/controlPrivilegeNew}}
{{#stockHolderContactDetailsNew}}
    Stock Holder Contact Details : {{stockHolderContactDetailsNew}}
{{/stockHolderContactDetailsNew}}


