
.main-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.section-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: $md;
    form{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}
.inner-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex-grow-1{
    flex-grow: 1
}
.hidden {
    display: none;
  }
  .more-less {
    color: #3171b2 !important;
    text-decoration: underline;
    box-shadow: none;
    display: inline-block;
    padding: 0 1rem;
  }
  .fix-width-two-row {
    .fix-col {
      width: 42px;
    }
  }
  .dot-symbol {
    height: 10px;
    width: 10px;
    display: flex;
    border-radius: 50%;
    &__orange {
      background: #ff6600;
    }
    &__green {
      background: #58af2e;
    }
  }
  .nav-tabs {
    border: none;
  }
  .box {
    border: solid 1px;
    padding: 0px 8px !important;
    margin-left: 8px;
    &__first {
      border-color: #ababab;
      color: #ababab;
      cursor: pointer;
    }
    &__second {
      border-color: var(--color-info);
      color: var(--color-info);
    }
  }
  .table-height-section-1 {
    height: 50vh;
    overflow-y: auto;
  }
  .con-doc-text{
    color: #01579B;
  }
  .text-light-grey{
    color: #7e91a3;
  }
  .form-control-label{
    .mandatory {
      color: red;
      padding-left: 2px;
  }
  }
  // .footer-height-scroll{
  //     padding-bottom: 22px
  // }
  .footer-panel {
    position: static;
    margin: 0 -1rem;
    width: auto;
}
.grid-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column
}
.modal-width{
  max-width: 700px
}
.accordion{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}
.grid-b-margin{
  margin-bottom: -35px!important
}
.accordion__title{
  padding: 10px 16px!important;
}
.add-btn-wrap{
  display: flex;
  position: absolute;
  right: 0;
  z-index: 99;
}