<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

   <include resource="com/ibsplc/neoicargo/framework/core/logging/logback-default.xml"/>

   <logger name="com.ibsplc.neoicargo" level="INFO"/>
   <logger name="org.springframework" level="INFO"/>
   <logger name="org.apache.kafka" level="WARN"/>

</configuration>
