Dear User,<br><br>
You are receiving this email since you have subscribed to the milestones for AWB Number {{shipmentKey}}.<br><br>
The AWB {{shipmentKey}} with {{airline}} has achieved the milestone of {{milestoneCode.description}} with {{pieces}} pieces at Airport {{airportCode}} on {{milestoneTime}}.<br><br>
We will update you with any further milestones if you have subscribed to it.<br><br>
Regards,<br>
iCargo system